.headings{
    font-size: 30px;
    
    color: black;
    font-weight: bolder;
}

.container{
    margin-top: 40px;
    background-color: rgb(198, 198, 198);
}
.nav-link{
    border-radius: 12px;
}
.tab-button button{
    margin-top: 45px;
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 16px;
    min-width: 160px;
}
.tab-button button:active{
    background-color: black;
    color: white;
}
.card:hover{
    box-shadow: 2px 10px #888888;
}
.card{

    width: 25rem;
    
    background-color: black;
    color:white;
    
}
.containts{
    margin-top: 40px;
}
.containts img{
    height: 200px;
    width: auto;
}
.containts .col-12{
   margin-top: 20px;
}
.container h4{
    margin-left: 50px;
    color: rgb(0, 0, 0);
    font-style: bold;
    text-shadow: 1px 2px rgb(176, 110, 110);
}
